# Dependency directory
node_modules

# Screenshots
reports/screenshots

# Added empty reports folder
reports/*
!reports/.gitkeep

#VSCode files
.vscode/*

#Linter
.eslintrc.json

#Package-lock
package-lock.json
